@model IEnumerable<TrustPower_Item_Booking_Web_App.Models.Bookings>

@{ ViewData["Title"] = "Index"; }

<div class="container">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">

            <h1 class="text-center">Your Current Bookings</h1>


            <br>
            <div class="text-center">
                <a asp-area="" asp-controller="BookingProcess" asp-action="Index" class="text-center">
                    <button class="button text-center">
                        <h5>ADD</h5>
                    </button>
                </a>
            </div>
            <br><br>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Event Name
                        </th>
                        <th>
                            Requested Item
                        </th>
                        <th>
                            Pick Up Date
                        </th>
                        <th>
                            Return Date
                        </th>
                        <th>
                            Date Created
                        </th>

                        <th>

                        </th>
                        <th>

                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedItem)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.PickUpDate.Day)
                /
                @Html.DisplayFor(modelItem => item.PickUpDate.Month)
                /
                @Html.DisplayFor(modelItem => item.PickUpDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate.Day)
                /
                @Html.DisplayFor(modelItem => item.ReturnDate.Month)
                /
                @Html.DisplayFor(modelItem => item.ReturnDate.Year)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateReceived.Day)
                /
                @Html.DisplayFor(modelItem => item.DateReceived.Month)
                /
                @Html.DisplayFor(modelItem => item.DateReceived.Year)
            </td>




            <td>
                <u><a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a></u>
            </td>
            <td>
                <u><a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a></u>
            </td>
        </tr>
}
                </tbody>
            </table>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</div>