@model TrustPower_Item_Booking_Web_App.Models.Bookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedByStaffId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedByStaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisapprovedDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisapprovedDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvenStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvenStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SetUpRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SetUpRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedItem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicants.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
