@model IEnumerable<TrustPower_Item_Booking_Web_App.Models.Bookings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestedItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfApproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th>
              
            </th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedItem)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.PickUpDate.Day) 
                /
                @Html.DisplayFor(modelItem => item.PickUpDate.Month) 
                /
                @Html.DisplayFor(modelItem => item.PickUpDate.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate.Day)
                /
                @Html.DisplayFor(modelItem => item.ReturnDate.Month)
                /
                @Html.DisplayFor(modelItem => item.ReturnDate.Year)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateReceived.Day)
                /
                @Html.DisplayFor(modelItem => item.DateReceived.Month)
                /
                @Html.DisplayFor(modelItem => item.DateReceived.Year)
            </td>
            <td>
                
                 @Html.DisplayFor(modelItem => item.DateOfApproval)
               
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>








            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
